<div class="row justify-content-center">
    <div class="col-6">
        <header class="mb-4">
            <h2 class="h2 g-color-black g-font-weight-600 g-mt-15" style="margin-left: 60px;">Update PMS Client</h2>
        </header>
        <form #pmsform="ngForm" name="form" role="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover"
                    name="clientCode" id="clientCode" placeholder="Client Code"
                    [(ngModel)]="pm.clientCode">
            </div>
            <div class="form-group">
                <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover"
                    name="clientName" id="clientName" placeholder="Client Name"
                    [(ngModel)]="pm.clientName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover"
                    name="PanNumber" id="PanNumber" placeholder="PanNumber"
                    [(ngModel)]="pm.panNumber">
            </div>
            <!-- <div class="form-group">
                <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover"
                    name="typeName" id="typeName" placeholder="AIFCommission"
                    [(ngModel)]="pm.aifClientMaster">
            </div> -->
            <div class="form-group">
                <select class="form-control"  name="distMaster" [(ngModel)]="pm.distributorMaster.id">
                    <option [ngValue]="null" selected>Select DistributorMaster</option>
                    <option *ngFor="let distMaster of distributorMasters" [ngValue]="distMaster.id">{{distMaster.distName}}</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control"  name="relationshipManager" [(ngModel)]="pm.relationshipManager.id">
                    <option [ngValue]="null" selected>Select RM</option>
                    <option *ngFor="let relationshipManager of relations" [ngValue]="relationshipManager.id">{{relationshipManager.rmName}}</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control"  name="subRM" [(ngModel)]="pm.subRM.id">
                    <option [ngValue]="null" selected>Select subRM</option>
                    <option *ngFor="let subRM of subRMs" [ngValue]="subRM.id">{{subRM.subName}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
            <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>
