<div class="row mastermgmt">
  <div class="col-md-12">
    <h3>MASTER MANAGEMENT</h3>
    <button class="btn"  
    routerLinkActive="active" routerLink="/clientmgmt"><i class = "fa fa-user"></i>CLIENT MANAGEMENT</button>
    <button class="btn" routerLinkActive="active" routerLink="/feemgmt"><i class = "fa fa-credit-card"></i>FEE MANAGEMENT
    </button>
    <button class="btn" routerLink="/strategymgmt" routerLinkActive="active" ><i class = "fas fa-layer-group"></i>STRATEGY MANAGEMENT
    </button>
    <button class="btn" routerLink="/rmmgmt" routerLinkActive="active"><i class = "fa fa-handshake"></i>RM MANAGEMENT
    </button>
    <button class="btn" routerLink="/subrmmgmt" routerLinkActive="active"><i class = "fas fa-user-friends"></i>SUB-RM MANAGEMENT
    </button>
    <!-- <button class="btn" routerLink="/disttypemgmt" routerLinkActive="active">DIST TYPE MANAGEMENT
    </button> -->
    <button class="btn" routerLink="/cdmgmt" routerLinkActive="active"><i class = "fas fa-search-dollar "></i>CD MANAGEMENT
    </button>
    <button class="btn" routerLink="/distmgmt" routerLinkActive="active"><i class = "fa fa-group"></i>DISTRIBUTOR MANAGEMENT
    </button>
    <button class="btn" routerLink="/optionmgmt" routerLinkActive="active"><i class = "fa fa-percent"></i>OPTION MANAGEMENT
    </button>
    <button class="btn" routerLink="/locationmgmt" routerLinkActive="active"><i class = "fas fa-location-arrow  "></i>LOCATION MANAGEMENT
    </button>
    </div>
  </div>
</div>
