.row.mastermgmt {
    height: 500px;
    width: 340px;
    /* background-color: rgb(8, 63, 85); */
    /* border: 5px solid black; */
    /* padding-top: 20px; */
    color: white;
    border-radius: 12px;
    margin: 5px 0px 70px 10px;
    box-shadow: 0px 1px 15px grey;
}
h3 {
    background-color: rgb(8, 63, 85);
    border-radius: 5px;
    box-shadow: 7px 7px 15px grey;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
button {
    border-radius: 2px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-left: 16px;
    margin-bottom: 12px;
    padding: 5px;
    width: 90%;
    cursor: pointer;
}
button:hover {
    background-color: rgb(8, 63, 85);
    color: white;
    width: 91%;
    font-size: 16px;
}
.fa,
.fas {
    font-size: 20px;
    float: left;
}

.active {
    background-color: rgb(8, 63, 85);
    color: white !important;
    width: 92%;
    font-size: 16px;
    font-weight: bold;
    margin-left: 13px;
    border-bottom: 3px solid tomato;
    box-shadow: 5px 5px 10px grey;
    /* border: 1px solid white;
    box-shadow:  -1px 1px white,-2px 2px white,-3px 3px white,-4px 4px white, */
}
