<div style="margin-top: 20px;" *ngIf="account && account.role.roleNameMasters[1].roleCreate === true">
    <button (click)="openAddDialog()" class="btn btn-primary btn-md" style="float: right;
    margin-top: 10px; margin-bottom: 15px;">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <span class="d-none d-md-inline">Add Investment</span>
    </button>
</div>
<div style="margin-top: 20px;">
    <h4>Investment Details</h4>
</div>
<div style="margin-top: 30px;">
    <table class="table table-bordered col-md-12" style="margin-top: 30px;">
        <thead>
            <tr style="text-align: center;">
                <!-- <th scope="col">Action</th> -->
                <!-- <th scope="col">Email</th> -->
                <!-- <th scope="col">Update</th> -->
                <!-- <th scope="col">Id</th> -->
                <th scope="col" [class.active]="order === 'investmentName'" (click)="setOrder('investmentName')">Investment Name
                    <span [hidden]="reverse">▼</span>
                    <span [hidden]="!reverse">▲</span>
                </th>
                <th scope="col" *ngIf="account && account.role.roleNameMasters[1].roleEdit === true ||
                account && account.role.roleNameMasters[1].roleDelete === true">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let investment of investments | paginate: { id: 'investment-paginator',itemsPerPage: listItesmsPerPage, currentPage: listPage, totalItems: listTotalItems }" style="text-align: center;">
                <!-- <td>
                    <a (click)="openUpdateialog(location.id)"
                    queryParamsHandling="merge">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td> -->
                <!-- <td>{{location.id}}</td> -->
                <td>{{investment.investmentName}}</td>
                <td *ngIf="account && account.role.roleNameMasters[1].roleEdit === true ||
                account && account.role.roleNameMasters[1].roleDelete === true">
                    <a data-toggle="tooltip" container="body" placement="top" ngbTooltip="Edit" (click)="openUpdateialog(investment.id)" queryParamsHandling="merge" *ngIf="account && account.role.roleNameMasters[1].roleEdit === true">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a data-toggle="tooltip" container="body" placement="top" ngbTooltip="Delete" (click)="deleteInvestment(investment)" *ngIf="account && account.role.roleNameMasters[1].roleDelete === true">
                        <i class="fa fa-trash" aria-hidden="true" style="color: darkred;"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <button style="font-size: 12px"><span>{{investments.length}} Records</span></button>
    <div class="row">
        <div class="col-md-5">
            <pagination-controls (pageChange)="investmentList($event)" id="investment-paginator" *ngIf="investments.length !== 0"></pagination-controls>
        </div>
        <div class="col-md-2">
            <select id="PerPage" class="form-control" [(ngModel)]="listItesmsPerPage" (change)="investmentList($event)">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
        </div>
    </div>
</div>