/deep/ .swal2-popup .swal2-title {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 0 0.4em;
    padding: 0;
    color: #595959;
    font-size: 1rem !important;
    font-weight: 100;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

/deep/ .swal2-popup .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #3085d6;
    color: #fff;
    font-size: 0.9em !important;
}
