<div class="row usermgmt">
  <div class="col-md-12">
    <h3>ROLE/USER MANAGEMENT</h3>
    <button class="btn" routerLink="/adduser" routerLinkActive="active"><i class="fas fa-user-plus"></i>ADD USER
    </button><br>
    <button class="btn" routerLink="/edituser" routerLinkActive="active"><i class="fas fa-user-edit"></i>EDIT USER
    </button><br>
    <button class="btn" routerLink="/addrole" routerLinkActive="active"><i class="fab fa-black-tie"></i> ADD ROLE
    </button><br>
    <button class="btn" routerLink="/editrole" routerLinkActive="active"><i class="fas fa-edit"></i>EDIT ROLE
    </button><br>
    <button class="btn" routerLink="/changePassword" routerLinkActive="active"><i class="fas fa-key"></i>CHANGE PASSWORD
    </button><br>
  </div>
</div>
