.row {
    background-color: white;
    width: 100%;
}
h3 {
    background-color: rgb(8, 63, 85);
    border-radius: 10px;
    box-shadow: 2px 1px 10px grey;
    width: 20%;
    margin-top: 5px;
    padding: 10px;
    text-align: left !important;
    color: white;
    font-weight: 300;
}
.userDetails {
    background-color: rgb(226, 223, 223);
    box-shadow: 2px 1px 10px grey;
    color: black;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    padding: 20px;
}
input {
    width: 27%;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
}
label {
    width: 15%;
}
.smlr {
    font-size: 12px;
}
table {
    width: 98%;
    margin: 5px;
    font-size: 13px;
}
th {
    background-color: rgb(50, 76, 87);
    color: white;
    border: 1px solid black;
    text-align: center;
}
tr,
td {
    border: 1px solid black;
    padding: 5px;
}
tr:nth-of-type(odd) {
    background-color: beige;
}
