<div class="row">
        <div class="col-md-3 partition">
            <jhi-app-mastermanagement></jhi-app-mastermanagement>
        </div>
        <div class="col-md-8 partition1">
            <div>
                <h5>Distributor Type Management</h5>
            </div>
            <div class="partition2">
                <form action="">
                    <input type="radio" name="disbtypemgmt" [(ngModel)]=add value="adddisbtype" (change)="adddisbtype ($event)">Add Distributor Type
                    <input type="radio" name="disbtypemgmt" [(ngModel)]=update value="updatedisbtype" (change)="updatedisbtype ($event)">Update Distributor Type
                    <br><br>
                    <div *ngIf="isAdddisbtype">
                            <form action="disttypemanagement">
                        <label for="NewDistributorType">New Distributor Type</label>
                        <input type="text" [(ngModel)]="disttypemanagement.NewDistributorType" name="NewDistributorType"><br>
                        
                        <button class="btn btn-success" (click)="save()">Save</button>
                        <button class="btn btn-danger" (click)="reset()">Reset</button>

                    </div>
                    <div *ngIf="isUpdatedisbtype">
                       
                      
                       <label for="DistributorType">Distributor Type</label>
                       <input type="text" [(ngModel)]="disttypemanagement.DistributorType" name="DistributorType"><br>
                        
                       <button class="btn btn-success" (click)="search()">Search</button>
                       <button class="btn btn-danger" (click)="clear()">Clear</button>
                    </div>
                </form>
                    <span>
                        <div *ngIf="isSearchFound">
                            <h3>Search Found!!!!</h3>
                        </div>
                    </span>
                </form>
            </div>
        </div>
    </div>
 
    <div [style.visibility]="isDisplaydistype ? 'visible' :'hidden'">
        <label>Client Code</label>
        <input type="text">
    
        <label>Client Name</label>
        <input type="text">
    
    </div>