/* .container {
    height: 420px;
    width: 10px;
    box-sizing: border-box;
    border: 2px solid blue;
    margin-top: -418px;
    margin-right: 29px;
    background-color: none;
    color: black;
    padding-top: 0px;
    padding-right: 0px;
} */

.row {
    background-color: white;
}
h3 {
    background-color: rgb(8, 63, 85);
    border-radius: 10px;
    box-shadow: 2px 1px 10px grey;
    width: 30%;
    margin-top: 5px;
    padding: 10px;
    text-align: left !important;
    color: white;
    font-weight: 300;
}
.roleDetails {
    background-color: rgb(226, 223, 223);
    box-shadow: 2px 1px 10px grey;
    color: black;
    border-radius: 5px;
    height: 100%;
    width: 90%;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    padding: 20px;
}
/* .form-check {
    margin-right: 10px;
} */
.new-label {
    width: 27%;
}
.input-label {
    text-align: center;
    margin-left: 20px;
}
input[type='text'] {
    width: 25%;
}
/* input[type='checkbox'] {
    text-align: center;
    margin-left: 100px;
} */
/* table {
    width: 98%;
    margin-left: 5px;
}
th {
    background-color: rgb(50, 76, 87);
    color: white;
    border: 1px solid black;
}
tr,
td {
    border: 1px solid black;
}
tr:nth-of-type(odd) {
    background-color: beige;
} */
