<div class="row justify-content-center">
    <div class="col-6">
        <header class="mb-4">
            <h2 class="h2 g-color-black g-font-weight-600 g-mt-15" style="margin-left: 60px;">Add File Upload Master</h2>
        </header>
        <ngx-busy [busy]="thingsSubscription"></ngx-busy>
        <form #uploadAdd="ngForm" name="form" role="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <select class="form-control g-brd-primary--hover" [(ngModel)]="upload.fileName" id="fileName" name="fileName" pattern="[0-9A-Za-z ]*" required>
                    <!-- <option value="PMS NAV">PMS NAV</option> -->
                    <option value="Upfront Fee">Upfront Fee</option>
                    <!-- <option value="Profit Share">Profit Share</option> -->
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="product" [(ngModel)]="upload.product">
                    <option [ngValue]="null">Select Product</option>
                    <option *ngFor="let product of products">{{product.productName}}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="file" name="fileupload" (change)="fileChange($event)" id="fileupload" fileupload="ngModel" required>
            </div>
            <div class="form-group">
                <input type="text" placeholder="StartDate" #datePicker class="form-control" bsDatepicker name="startdate" id="startdate" [(ngModel)]="upload.startDate" (input)="onDateChange($event)" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}" >
            </div>
            <div class="form-group">
                <input type="text" placeholder="EndDate" class="form-control" bsDatepicker name="endDate" id="endDate" [(ngModel)]="upload.endDate" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}"  (input)="onDateChange1($event)">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!uploadAdd.form.valid">ADD</button>
            <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="cancel()">Cancel</button>
            <a href="api/download-error-upfront" *ngIf="uploadStatus=== true"><button type="button" class="btn btn-primary">Download Error</button></a>
            <a href="api/download-error-pms" *ngIf="uploadPmsStatus=== true"><button type="button" class="btn btn-primary">Download Error</button></a>
        </form>
    </div>
</div>