<div class="container g-mt-25">
    <div class="row">
        <div class="col-md-4 boxsize" routerLink="/Clientmaster" routerLinkActive="active">
            <label for="tab1">Client Master CD</label>
        </div>
        <div class="col-md-4 boxsize" routerLink="/pmsclients" routerLinkActive="active">
            <label for="tab2">PMS Client</label>
        </div>
        <div class="col-md-4 boxsize" routerLink="/aifclients" routerLinkActive="active">
            <label for="tab3">AIF Client</label>
        </div>
    </div>
</div>
<div class="container">
    <div class="g-mt-20">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <!-- <ng-multiselect-dropdown [placeholder]="'ClientCode'" [data]="allClients" [(ngModel)]="ClientCode" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" name="clientCode">
                    </ng-multiselect-dropdown> -->
                    <ng-select [items]="pmsClients" bindLabel="clientCode" bindValue="id" [multiple]="true" placeholder="Client Code" [(ngModel)]="ClientCode" [virtualScroll]="true" (add)="onItemSelect($event)" (remove)="onDeSelect($event)" [clearable]="false">
                    </ng-select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <!-- <ng-multiselect-dropdown [placeholder]="'ClientName'" [data]="allClients" [(ngModel)]="ClientName" [settings]="dropdownSettings1" (onSelect)="onItemSelect1($event)" (onDeSelect)="onDeSelect1($event)" name="clientName">
                    </ng-multiselect-dropdown> -->
                    <ng-select [items]="pmsClients" bindLabel="clientName" bindValue="id" [multiple]="true" placeholder="Client Name" [(ngModel)]="ClientName" [virtualScroll]="true" (add)="onItemSelect1($event)" (remove)="onDeSelect1($event)" [clearable]="false">
                    </ng-select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <!-- <ng-multiselect-dropdown [placeholder]="'DistributorName'" [data]="allDistributors" [(ngModel)]="DistributorName" [settings]="dropdownSettings2" (onSelect)="onItemSelect2($event)" (onDeSelect)="onDeSelect2($event)" name="clientName">
                    </ng-multiselect-dropdown> -->
                    <ng-select [items]="allDistributors" bindLabel="distName" bindValue="id" [multiple]="true" placeholder="Distributor Name" [(ngModel)]="DistributorName" [virtualScroll]="true" (add)="onItemSelect2($event)" (remove)="onDeSelect2($event)" [clearable]="false">
                    </ng-select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <!-- <ng-multiselect-dropdown [placeholder]="'RmName'" [data]="allRms" [(ngModel)]="RmName" [settings]="dropdownSettings3" (onSelect)="onItemSelect3($event)" (onDeSelect)="onDeSelect3($event)" name="rmName">
                    </ng-multiselect-dropdown> -->
                    <ng-select [items]="allRms" bindLabel="rmName" bindValue="id" [multiple]="true" placeholder="RM Name " [(ngModel)]="RmName" [virtualScroll]="true" (add)="onItemSelect3($event)" (remove)="onDeSelect3($event)" [clearable]="false">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <button type="button" class="btn btn-success" (click)=search()>Search</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <button type="button" class="btn btn-danger" (click)=clear()>Clear</button>
                </div>
            </div>
            <div class="col-md-4 offset-md-6">
                <button class="btn btn-primary btn-md" style="float: right;
                margin-bottom: 15px;" routerLink="/pmsadd" *ngIf="account && account.role.roleNameMasters[10].roleCreate === true">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <span class="d-none d-md-inline">Add PMS</span>
                </button>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px;">
        <table class="table table-bordered col-md-12" style="margin-top: 30px;">
            <thead>
                <tr style="text-align: center;">
                    <th scope="col" *ngIf="account && account.role.roleNameMasters[10].roleEdit === true">Action</th>
                    <th scope="col" [class.active]="order === 'clientCode'" (click)="setOrder('clientCode')">Client Code
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </th>
                    <th scope="col" [class.active]="order === 'clientName'" (click)="setOrder('clientName')">Client Name
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </th>
                    <th scope="col">Pan No</th>
                    <th scope="col" [class.active]="order === 'distributorMaster.distName'" (click)="setOrder('distributorMaster.distName')">Distrbutor
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </th>
                    <th scope="col" [class.active]="order === 'relationshipManager.rmName'" (click)="setOrder('relationshipManager.rmName')">RM
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </th>
                    <th scope="col" [class.active]="order === 'subRM.subName'" (click)="setOrder('subRM.subName')">Sub-RM
                        <span [hidden]="reverse">▼</span>
                        <span [hidden]="!reverse">▲</span>
                    </th>
                    <th scope="col" *ngIf="account && account.role.roleNameMasters[10].roleDelete === true">Delete</th>
                </tr>
            </thead>
            <tbody *ngIf="dataSearch === false">
                <tr *ngFor="let pm of pms | paginate: { id: 'pm-paginator',itemsPerPage: listItesmsPerPage, currentPage: listPage, totalItems: listTotalItems }" style="text-align: center;">
                    <td *ngIf="account && account.role.roleNameMasters[10].roleEdit === true">
                        <a [routerLink]="['/pms/' + pm?.id + '/edit']" data-toggle="tooltip" container="body" placement="top" ngbTooltip="Edit">
                            <i class="fa fa-pencil-square" aria-hidden="true" style="color: blue;"></i>
                        </a>
                    </td>
                    <td>{{pm.clientCode}}</td>
                    <td>{{pm.clientName}}</td>
                    <td>{{pm.panNumber}}</td>
                    <td><span *ngIf="pm.distributorMaster !== null">{{pm.distributorMaster.distName}}</span></td>
                    <td><span *ngIf="pm.relationshipManager !== null">{{pm.relationshipManager.rmName}}</span></td>
                    <td><span *ngIf="pm.subRM !== null">{{pm.subRM.subName}}</span></td>
                    <td *ngIf="account && account.role.roleNameMasters[10].roleDelete === true">
                        <a (click)="deletePm(pm)" data-toggle="tooltip" container="body" placement="top" ngbTooltip="Delete">
                            <i class="fa fa-trash" aria-hidden="true" style="color: darkred;"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="dataSearch ===  true">
                <tr *ngFor="let pm of allDatas" style="text-align: center;">
                    <td *ngIf="account && account.role.roleNameMasters[10].roleEdit === true">
                        <a [routerLink]="['/pms/' + pm?.id + '/edit']" data-toggle="tooltip" container="body" placement="top" ngbTooltip="Edit">
                            <i class="fa fa-pencil-square" aria-hidden="true" style="color: blue;"></i>
                        </a>
                    </td>
                    <td>{{pm.clientCode}}</td>
                    <td>{{pm.clientName}}</td>
                    <td>{{pm.panNumber}}</td>
                    <td><span *ngIf="pm.distributorMaster !== null">{{pm.distributorMaster.distName}}</span></td>
                    <td><span *ngIf="pm.relationshipManager !== null">{{pm.relationshipManager.rmName}}</span></td>
                    <td><span *ngIf="pm.subRM !== null">{{pm.subRM.subName}}</span></td>
                    <td *ngIf="account && account.role.roleNameMasters[10].roleDelete === true">
                        <a (click)="deletePm(pm)" data-toggle="tooltip" container="body" placement="top" ngbTooltip="Delete">
                            <i class="fa fa-trash" aria-hidden="true" style="color: darkred;"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button style="font-size: 12px" *ngIf="searchData === false"><span>{{pms.length}} Records</span></button>
        <p *ngIf="allDatas?.length === 0 && dataSearch === true">No Records Found</p>
        <div class="row">
            <div class="col-md-5">
                <pagination-controls (pageChange)="pmsList($event)" id="pm-paginator" *ngIf="pms.length !== 0 && dataSearch === false"></pagination-controls>
            </div>
            <div class="col-md-2" *ngIf="pms.length !== 0 && dataSearch === false">
                <select id="PerPage" class="form-control" [(ngModel)]="listItesmsPerPage" (change)="pmsList($event)">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                </select>
            </div>
        </div>
    </div>
</div>